<sui-sidebar-container>
    <sui-sidebar class="inverted vertical wide"></sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
        <div class="full height">
            <div class="article">
                <div class="ui top attached borderless menu">
                    <a class="item" href="http://www.howmany.cloud/">
                        <i class="home icon"></i> Home
                    </a>
                </div>
                <div class="router-wrapper">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </sui-sidebar-sibling>
</sui-sidebar-container>